{% extends "layout.html" %}
{% block content %}
    <h1>About the Recipe Generator</h1>

<br><div class="row justify-content-md-center">
<div class="col-sm-4">
    <div class="jumbotron"
    <blockquote>"For days where you don't know what to cook"</blockquote>
    <small> Tom </small>
    </div>
</div>
<div class="col-sm-4">
    <div class="jumbotron"
    <blockquote>"Inspiration when you're stuck in a rut and only have two ingredients in your fridge!"</blockquote>
    <small> Sara </small>
    </div>
</div>
<div class="col-sm-4">
    <div class="jumbotron"
    <blockquote>"I can try out new dishes using the same ingredients"</blockquote>
    <small> John </small>
    </div>
</div>
</div></br>

<br>
<h3>How to get started?</h3>
<h4>1) Click through to the search page, </h4>
<h4>2) Enter all the ingredients you have or want to use in your recipe.</h4>
<h4>3) Click search and then off you go bon apetite!</h4>
<h6>Hint: Remember to put a comma "," between all your ingredients</h6>
</br>

{% endblock content %}
